
<div class="content modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Mango</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">Fruite</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Mango is tasty</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Back</button>
          <button type="button" class="btn btn-primary">Edit</button>
        </div>
</div>
