<div class="contet">

<form>
  <br>
  <div class="form-group">
    <label for="itemName">Food</label>
    <input type="text" class="form-control">
  </div>
  <div class="form-group">
    <label>Description:</label>
    <textarea class="form-control" rows="3"></textarea>
  </div>
  <div class="form-group">
    <label>Type</label>
    <select class="form-control">
      <option>Fruits</option>
      <option>Vegitables</option>
      <option>Meat</option>
    </select>
  </div>
  <br>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

</div>
